.divisionname {
	text-align: center;
}

.tablewrapper {
	overflow-x: auto;
}

.tiebreaker-title {
	text-align: center;
}

.tiebreakers-explanation {
	text-align: center;
}

.team2 {
	margin-left: 0.5rem;
}

.week-title {
	text-align: center;
}